task1:
  number_of_tests: 1
  input1: "d"
  output1: "dd"
  input2: ""
  output2: ""
  input3: ""
  output3: ""
  input4: ""
  output4: ""
  input5: ""
  output5: ""
task2:
  number_of_tests: 5
  input1: ""
  output1: ""
  input2: ""
  output2: ""
  input3: ""
  output3: ""
  input4: ""
  output4: ""
  input5: ""
  output5: ""
task3:
  number_of_tests: 5
  input1: ""
  output1: ""
  input2: ""
  output2: ""
  input3: ""
  output3: ""
  input4: ""
  output4: ""
  input5: ""
  output5: ""
task4:
  number_of_tests: 5
  input1: ""
  output1: ""
  input2: ""
  output2: ""
  input3: ""
  output3: ""
  input4: ""
  output4: ""
  input5: ""
  output5: ""
task5:
  number_of_tests: 5
  input1: ""
  output1: ""
  input2: ""
  output2: ""
  input3: ""
  output3: ""
  input4: ""
  output4: ""
  input5: ""
  output5: ""
